<div class="geral">
  <div class="cabecalho">
    <app-titulo></app-titulo>
  </div>

  <div class="superior">
    <div class="c2i">
      <p>Casa Stark</p>
      <div class="imagens">
        <div class="chefe">
          <app-autoridade [nrBotao]="'1'" [estado]="estadoChefe" [nome]="'Jon Snow'" [imagem]="'../assets/imagens/01.jpg'"></app-autoridade>
          <app-estado [nrBotao]="'1'" (estadoAlterado)="atualizarEstado('1', $event)"></app-estado>
        </div>
        <div class="subchefe">
          <app-autoridade [nrBotao]="'2'" [estado]="estadoSubchefe" [nome]="'Arya Stark'" [imagem]="'../assets/imagens/02.jpg'"></app-autoridade>
          <app-estado [nrBotao]="'2'" (estadoAlterado)="atualizarEstado('2', $event)"></app-estado>
        </div>
      </div>
      <app-insignia [estadoChefe]="estadoChefe"></app-insignia>
    </div>

    <div class="c2i">
      <p>Casa Lannister</p>
      <div class="imagens">
        <div class="chefe">
          <app-autoridade [nrBotao]="'3'" [estado]="estadoDiretoria" [nome]="'Jaime Lannister'" [imagem]="'../assets/imagens/03.jpg'"></app-autoridade>
          <app-estado [nrBotao]="'3'" (estadoAlterado)="atualizarEstado('3', $event)"></app-estado>
        </div>
        <div class="subchefe">
          <app-autoridade [nrBotao]="'4'" [estado]="estadoSubdiretoria" [nome]="'Cersei Lannister'" [imagem]="'../assets/imagens/04.jpg'"></app-autoridade>
          <app-estado [nrBotao]="'4'" (estadoAlterado)="atualizarEstado('4', $event)"></app-estado>
        </div>
      </div>
      <app-insignia [estadoDiretoria]="estadoDiretoria"></app-insignia>
    </div>
  </div>

  <div class="imagem-central">
    <app-relogio></app-relogio>
  </div>

</div>