<div class="geral">
  <div class="cabecalho">
    <app-titulo></app-titulo>
  </div>

  <div class="superior">
    <div class="c2i">
      <p>Comando, Controle e Informação</p>
      <div class="imagens">
        <div class="chefe">
          <app-autoridade [nrBotao]="'1'" [estado]="estadoChefe" [nome]="'Gen Div Wolski'" [imagem]="'../assets/imagens/wolski.jpeg'"></app-autoridade>
          <app-estado [nrBotao]="'1'" (estadoAlterado)="atualizarEstado('1', $event)"></app-estado>
        </div>
        <div class="subchefe">
          <app-autoridade [nrBotao]="'2'" [estado]="estadoSubchefe" [nome]="'Cel Saulo (ATC2I)'" [imagem]="'../assets/imagens/saulo.jpeg'"></app-autoridade>
          <app-estado [nrBotao]="'2'" (estadoAlterado)="atualizarEstado('2', $event)"></app-estado>
        </div>
      </div>
      <app-insignia [estadoChefe]="estadoChefe"></app-insignia>
    </div>

    <div class="c2i">
      <p>Diretoria de Fabricação</p>
      <div class="imagens">
        <div class="chefe">
          <app-autoridade [nrBotao]="'3'" [estado]="estadoDiretoria" [nome]="'Gen Div Tales Villela'" [imagem]="'../assets/imagens/cmt_df.jpg'"></app-autoridade>
          <app-estado [nrBotao]="'3'" (estadoAlterado)="atualizarEstado('3', $event)"></app-estado>
        </div>
        <div class="subchefe">
          <app-autoridade [nrBotao]="'4'" [estado]="estadoSubdiretoria" [nome]="'Cel Prado (DF)'" [imagem]="'../assets/imagens/prado.jpeg'"></app-autoridade>
          <app-estado [nrBotao]="'4'" (estadoAlterado)="atualizarEstado('4', $event)"></app-estado>
        </div>
      </div>
      <app-insignia [estadoDiretoria]="estadoDiretoria"></app-insignia>
    </div>
  </div>

  <div class="imagem-central">
    <img src="../assets/imagens/3estrelas.png">
  </div>

</div>