button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  font: 0.9rem Inconsolata, monospace;
  font-weight: bold;
  color: white;
  background: transparent;
  cursor: pointer;
}

.presente {
  background: #008000;
}

.ausente {
  background: #7D0000;
}

p.button {
  margin: 0;
}

button:active {
  transform: translateY(5px);
}
